<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      li {
        list-style: none;
        padding: 15px;
        float: left;
      }
      li:after {
        content: "|";
        float: right;
        color: #ccc;
        margin-right: 7px;
      }
      li:nth-last-of-type(1):after {
        content: "";
      }
    </style>
    
  </head>
  <body>
    <ul>
      <li id="login" class="list">로그인</li>
      <li id="join" class="list">회원가입</li>
      <li id="mypage" class="list">마이페이지</li>
      <li id="sitemap" class="list">사이트맵</li>
      <li id="center" class="list">고객센타</li>
    </ul>
    <script>
      const qsa=document.querySelectorAll('li');
      const qs=document.querySelector('#login');
      const gei=document.getElementById('login');
      const get=document.getElementsByTagName('li');
      const gec=document.getElementsByClassName('list');
      console.log(qsa);
      console.log(qs);
      console.log(gei);
      console.log(get);
      console.log(gec);
      
    </script>
  </body>
</html>
